<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alisa.calculatorbrain">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".CalcReceiver" >
            <intent-filter>
                <action android:name="com.alisa.sendCalcRequest" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
